@use "./variables" as *; // * removes need to call namespace
@use "./mixin" as *; // * removes need to call namespace

// base styles

body {
  min-height: 100vh;
  margin: 0;
  font-family: $font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  font-size: $font-size-base;
  color: $primary-color;
  background-color: $primary-color-background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
ul {
  font-size: $font-size-standard-extra;
  font-weight: $font-weight-light;
  line-height: $font-line-height-medium;

  :any-link {
    font-size: inherit;
    color: $primary-color;
    text-decoration: underline;
    font-weight: $font-weight-heavy;
  }
}

//global styles
.spacing-top {
  margin-top: $spacing-medium;
}

.text-center {
  text-align: center;
}
